---
import LoadMovies from "@/components/LoadMovies.astro";
import MainLayout from "@/layouts/MainLayout.astro";


---
<MainLayout title="Home">
	<h1 class="text-3xl font-bold ">Películas</h1>
	<LoadMovies />
</MainLayout>

