<div class="navbar bg-slate-950 font-bold mb-12">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Películas</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-xl">
      <li><a href="/">Inicio</a></li>
      <li><a href="/code">JSON</a></li>
      <!-- <li>
        <details>
          <summary>Parent</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="/">Inicio</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li> -->
    </ul>
  </div>
</div>
